<div id='cssmenu'>
<ul>
  <li class='brand'><a href="#"><span>Corbin San Diego</span></a></li>
  <li class='active'><a href=''/''><span>Home</span></a></li>
  <li><a href='#'><span>How to Play</span></a></li>
  <li class='last'><a href='#'><span>Leaderboard</span></a></li>
</ul>
</div>